$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orange: #FF7800;
$dark: #202020;
$gray: #333333;
$light: #AAAAAA;

@import "custom.scss";
@import "nav.scss";
